:root{
    --headerColor:rgb(212, 161, 102);
    --footerColor: rgba(158, 105, 80, 0.932);
    --backdropColor: rgb(211, 238, 232);
    --mainColor: rgb(100, 175, 100);
    --backgroundColor: rgb(250, 235, 212);
    --backgroundColor2: rgb(204, 179, 148);
    --textColor:rgb(253, 250, 237);
     
}
.GetNewRecipes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    border-top: 15px solid var(--headerColor);
    color: black;
    font-family: 'Quattrocento', serif;

    
}

h1{
   color: var(--mainColor) 
    ;
    
}

.GetNewRecipes-searchForm{
    margin-top: 17px;
    
   
    
}

.GetNewRecipes-searchInput{
    padding: 6px 16px;
    min-width: 200px;
    max-width: 100vw;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    color:var(--textColor);
    background-color: var(--backgroundColor2);
    font-family: 'Quattrocento', serif;
    

    
}
.searchIcon{
    color: var(--textColor);
    position: relative;
    right: 24px;
    pointer-events: none;
}

.GetNewRecipes-submit{
    padding: 6px 16px;
    font-size: 17px;
    margin-left: 6px;
    /* background-color:var(--mainColor); */
    background-color: green;
    font-family: 'Quattrocento', serif;
    border: none;
    border-radius: 15px;
    color: var(--textColor);
    cursor: pointer;
}
.GetNewRecipes-submit:hover{
    padding: 6px 16px;
    font-size: 17px;
    margin-left: 6px;
    background-color: var(--textColor);
    border: 2px var(--textColor);
    border-radius: 15px;
    color: var(--mainColor);
    background-color: whitesmoke;
    cursor: pointer;
}

.GetNewRecipes-healthLabels{
    border:none;
    border-radius: 8px;
    margin: 10px;
    padding: 7px;
    font-size: 16px;
    color: var(--textColor);
    background-color: var(--backgroundColor2);
    font-family: 'Quattrocento', serif;

}

.app-healthLabels:after{
    border: var(--mainColor);
    background: var(--mainColor);
}

.app-healthLabels:active{
    background: var(--backdropColor);
    border: var(--footerColor);
}

.footer {

    display: flex;
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 100%;
    background-color: var(--footerColor);
    color: var(--textColor);
    align-items: flex-end;
    
    }


